<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
</head>
<body>

  <%- include("partials/header.ejs") %>

  <h1>Cadastro de Post</h1>

  <% if (cadastrado) { %>
   <p>Cadastro realizado com sucesso !</p>
  <% } %>

  <form action="/salvar-post" method="POST">
    <div>
      <label for="">Título</label>
      <input name="title" type="text" placeholder="Digite o Título">
    </div>

    <div>
      <label for="">Texto</label>
      <textarea name="text"></textarea>
    </div>

    <div>
      <button type="submit">Cadastrar</button>
    </div>

  </form>
  

  <%- include("partials/foot.ejs") %>
  
</body>
</html>