<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
</head>
<body>

  <%- include("partials/header.ejs") %>
  
  <p>Posts</p>
  <h1>Veja a baixo</h1>

  <%- include("partials/footer.ejs") %>

  <%- include("partials/foot.ejs") %>
  
</body>
</html>